
main {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 70px 0px;
}
.card.register{
    border: none;
}
.form-control {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    margin: 20px 0px 5px 0px;
    width: 100%;
    height: 40px;
    padding: 10px;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#message {
    margin: 20px 10px 5px 10px;
    width: 100%;
    height: 100px;
    padding: 10px;
}
button.btn.btn-primary.register {
    background-color: #006700;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    margin-top: 20px;
}
button.btn.btn-primary.register:hover {
    background-color: #005100;
}
a.btn.btn-primary.login {
    background-color: #0500a0;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    margin-top: 20px;
}
a.btn.btn-primary.login:hover {
    background-color: #040072;
}